JWT_SECRET=m3s2z56bXea&Rt
JWT_ACCESS_EXPIRES_IN=900
JWT_REFRESH_SECRET=m6s4z7hdfbXeaY^t
JWT_REFRESH_EXPIRES_IN=604800

DB_HOST=localhost
DB_PORT=5432
DB_NAME=blog
DB_USERNAME=postgres
DB_PASSWORD=s0a0d0e0g0h0

REDIS_URL=localhost
REDIS_PORT=6379

SESSION_EXPIRATION=604800

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=